<div class="SU-LI">
    <h2>Login</h2>

    <form class="login">
      <div class="formsGroup">
        <label for="EMlogin">email:</label>
        <input class="formsInput" type="text" id="EMlogin" />
      </div>
      <div class="formsGroup">
        <label for="PWlogin">password:</label>
        <input class="formsInput" type="password" id="PWlogin" />
      </div>
      <div class="formsGroup">
        <button class="btn" type="submit">login</button>
      </div>
    </form>
</div>


<div class="SU-LI">
    <h2>Signup</h2>

    <form class="sign-up">
      <div class="formsGroup">
        <label for="nameSU">name:</label>
        <input class="formsInput" type="text" id="SUName">

      <div class="formsGroup">
        <label for="emailSU">email:</label>
        <input class="formsInput" type="text" id="EmailSU" />
      </div>
      <div class="formsGroup">
        <label for="pwSU">password:</label>
        <input class="formsInput" type="password" id="PWSU" />
      </div>
      <div class="formsGroup">
        <button class="btn" type="submit">signup</button>
      </div>
    </form>
</div>

<script src="./js/login.js"></script>