{{!-- //need to haver a review page and route// --}}

<div class="container">
  <span id="rateMe4"  class="feedback"></span>
</div>

<!-- rating.js file -->
<script src="js/addons/rating.js"></script>